<div class="back-image">
  <div class="back-color_new-edit">
    <h1 class ="mydiary">編集画面</h1>

    <%= render 'form', diary: @diary %>
    <div class="marginauto">
      <%= link_to '詳細', @diary %> |
      <%= link_to '一覧へ戻る', diaries_path %>
    </div>
  </div>
<div>
