<div class="backimage">
  <header class="header">
    <h1 class="site-title">My Diary</h1>
    <div class="registration">
      <%= link_to "新規登録", new_user_registration_path, class: "registration-green"%>
      <%= link_to "ログイン", new_user_session_path, class: "registration-orange"%>
    </div>
  </header>
</div>