.back-image{
  background: url('TKL20404027.jpg') fixed;
  background-size: cover;
}
.back-color{
  height: 100vh;
  background-color: rgba(231, 158, 99, 0.9);
  padding: 100px 30px 80px;
  color: #575756;
  font-size: 0.8rem;
  padding: 0  100px 0 100px;
  .registration{
    display: table-cell;
    text-align: center;
  }
}
body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

thead.scrollHead,tbody.scrollBody{
  display:block;
}
tbody.scrollBody{
  overflow-y:scroll;
  height:100px;
}
th {
  padding: 0 5px 5px;
}

td {
  padding: 0 5px 7px;
  height: 30px;
}
td,th{
  table-layout:fixed;
  border: solid 1px; 
}
.created{
  width:200px;
}
.updated{
  width:200px;
}
.title{
  width:200px;
}
.blank{
  width:111px;
}
table {
  border-collapse:  collapse; /* セルの線を重ねる */ 
  table-layout: fixed;        /* セルの幅計算指定 */
  background-color: azure;
}
.yokonarabi{
  display: inline-block;
  height: 100px;
  width: 250px;
  margin: 10px 30px 10px 30px;
}
.tableblock{
  display: inline-block;
  width: 800px;
  height: 200px;
  margin: 0 0 0 44px;
}

.mydiary{
  height: 100px;
  line-height: 100px
}

.form-control{
  font-size: 20px;
  resize: none;
}
